{%- for shot in gallery %}
<figure class="gshot">
  <img src="{{ shot.image }}" alt="{{ shot.caption or title }}" sizes="(max-width:900px) 72vw, 380px" loading="lazy">
  {%- if shot.caption %}<figcaption>{{ shot.caption }}</figcaption>{% endif %}
</figure>
{%- endfor %}
