<dl class="spec">
  {% if system %}<div class="row"><dt>Roof system</dt><dd>{{ system }}</dd></div>{% endif %}
  {% if size %}<div class="row"><dt>Job size</dt><dd>{{ size }}</dd></div>{% endif %}
  {% if duration %}<div class="row"><dt>Duration</dt><dd>{{ duration }}</dd></div>{% endif %}
  {% if location %}<div class="row"><dt>Location</dt><dd>{{ location }}</dd></div>{% endif %}
  {% if role %}<div class="row"><dt>Will's part</dt><dd>{{ role }}</dd></div>{% endif %}
</dl>
